<div id="content">
 <div class="container">
   <div class="col-md-12">
     <div id="main-slider">
       <div class="item">
         <img src="/img/1.jpg" alt="" class="img-responsive">
       </div>
       <div class="item">
         <img class="img-responsive" src="/img/1.jpg" alt="">
       </div>
       <div class="item">
         <img class="img-responsive" src="/img/1.jpg" alt="">
       </div>
       <div class="item">
         <img class="img-responsive" src="/img/1.jpg" alt="">
       </div>
     </div>
   </div>
 </div>
<div id="advantages">
  <div class="container">
    <div class="same-height-row">
       <div class="col-sm-4">
         <div class="box same-height clickable">
           <div class="icon"><i class="fa fa-heart"></i>
           </div>
           <h3><a href="#">We love our customers</a></h3>
           <p>We are known to provide best possible service ever</p>
         </div>
       </div>
       <div class="col-sm-4">
         <div class="box same-height clickable">
           <div class="icon"><i class="fa fa-tags"></i>
           </div>
           <h3><a href="#">Best prices</a></h3>
           <p>You can check that the height of the boxes adjust when longer text like this one is used in one of them.</p>
         </div>
       </div>
       <div class="col-sm-4">
         <div class="box same-height clickable">
           <div class="icon"><i class="fa fa-thumbs-up"></i>
           </div>
           <h3><a href="#">100% satisfaction guaranteed</a></h3>
           <p>Free returns on everything for 3 months.</p>
         </div>
       </div>
      </div>
    </div>
  </div>
   <div id="hot">
     <div class="box">
       <div class="container">
         <div class="col-md-12">
           <b><h2>Featured Products</h2></b>
         </div>
       </div>
     </div>
     <%@items.each do |t| %>
     <div class="container">
       <div class="product-slider">
         <div class="item">
           <div class="product">
             <div class="flip-container">
               <div class="flipper">
                 <div class="front">
                  <%= image_tag t.image, height: "330", width: "400",  class:"img-responsive"%>
                 </div>
                 <div class="back">
                  <%= image_tag t.image, height: "330", width: "400", class:"img-responsive" %>
                  </div>
                </div>
              </div>
               <div class="text">
                 <h3><%= link_to t.title, category_path(t),  class: "dropdown-item" %></h3>
                 <p class="price">$ <%=t.price%></p>
               </div>
             </div>
           </div>
          <%end%>
        </div>
      </div>
    </div>
   <div class="container" data-animate="fadeInUpBig">
     <div class="col-md-12">
       <div class="box slideshow">
         <h3>The Cheapest Products</h3>
         <div id="get-inspired" class="owl-carousel owl-theme">
           <div class="item">
           <img class="img-responsive" src="/img/1.jpg" alt="">
           </div>
           <div class="item">
               <img class="img-responsive" src="/img/1.jpg" alt="">
           </div>
           <div class="item">
         <img class="img-responsive" src="/img/1.jpg" alt="">g
           </div>
         </div>
       </div>
     </div>
   </div>
</div>
