<table class="table-striped">
  <tr>
    <td class="table-header">Order ID</td>
    <td class="table-header">Order Status</td>
    <td class="table-header">Order Date</td>
  </tr>
  <% @user.orders.reverse.each do |order| %>
    <tr>
      <td class="table-detail">
        <%= order.id.to_s  %>
      </td>
      <td class="table-detail">
        <%= order.status %>
      </td>
      <td class="table-detail">
        <%= order.created_at %>
      </td>
    </tr>
  <% end %>
</table>
